In [1]:
from basics import missing_rate, zero_rate, dtypes_class
from basics import feature_variance

import pandas as pd

d = {'A': [1, 0, None, 3],
     'B': [1, 0, 0, 0],
     'C': ['a', None, 'c', 'd']}

# create DataFrame
df = pd.DataFrame(d)
df

     A  B     C
0  1.0  1     a
1  0.0  0  None
2  NaN  0     c
3  3.0  0     d

In [2]:
print(missing_rate(df))

  feature  missing_rate
0       A          0.25
1       B          0.00
2       C          0.25

In [3]:
print(zero_rate(df))

  feature  zero_rate
0       A   0.333333
1       B   0.750000
2       C   0.000000

In [4]:
(num_fields, cat_fields, bool_fields, data_types, data_class) = dtypes_class(df)

print(num_fields)
print(cat_fields)
print(bool_fields)
print(data_types)
print(data_class)

['A', 'B']
['C']
[]
  feature   dtypes
0       A  float64
1       B    int64
2       C   object
  feature   dtypes     class
0       A  float64   numeric
1       B    int64   numeric
2       C   object  category

In [5]:
data_class.groupby('class').count().reset_index()

      class  feature  dtypes
0  category        1       1
1   numeric        2       2

In [6]:
feature_variance(df)

  feature  feature_variance
0       A               1.0
1       B               0.5
2       C               1.0